{% extends 'mnotes/index.html' %}

{% block title %} Mahsulotni yangilash {% endblock title %}

{% block content %}
 
{% if form.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors" class="text-center">
        {% for key, value in form.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

<!--
 Muhim error handler
{% if form.errors %}
      {% for field in form %}

           {% for error in field.errors %}
                {{field.label}}: {{ error|escape }}
           {% endfor %}

      {% endfor %}
{% endif %}
-->

<style type="">
    input[type='file'] {
       color: transparent;
    }
</style>
  <div class="bg-contact3">
    <div class="container-contact3">
      <div class="wrap-contact3" style="background: blueviolet;">
        <form class="contact3-form validate-form" action="" method="POST" enctype="multipart/form-data">
          <span class="contact3-form-title pb-4">
            Mahsulotni yangilash
          </span>
          {% csrf_token %}

          <div class="wrap-input3">
          		<h6 class="text-light text-center">Mahsulot nomi</h6>
				{{form.product_name}}
          </div>

          <h6 class="text-light text-center">Mahsulot tan narxi</h6>
          <div class="wrap-input3 form-control">
				{{form.product_price_initial}}
          </div>
          <h6 class="text-light text-center">Mahsulot aytilish narxi</h6>
          <div class="wrap-input3 form-control">
				{{form.product_price_told}}
          </div>
          <h6 class="text-light text-center">Mahsulot soni</h6>
          <div class="wrap-input3">
				{{form.product_count}}
          </div>

            <div class="form-group">
            <h6 class="text-light text-center">Mahsulot razmerlari</h6>
             <div class="form-control form-check">
              {{form.product_size}}
              </div>
              <hr> 
            <h6 class="text-light text-center">Mahsulot ranglari</h6>
             <div class="form-control form-check">
              {{form.product_color}}
              </div>
              <hr>
            <h6 class="text-light text-center">Mahsulot sezonlari</h6>
             <div class="form-control form-check">
              {{form.product_season}}
              </div>

              <hr>

            <div class="" style="color: white;">
               Rasmni yuklang : {{form.product_img}}
            </div>
            </div>      

     
          <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
              Saqlash
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>


  <div id="dropDownSelect1"></div>

{% endblock %}