{% extends 'mnotes/index.html' %}

{% block title %} Qarzga mahsulot olish {% endblock title %}

{% block content %}
 <div class="bg-contact3">
    <div class="container-contact3">
      <div class="wrap-contact3" style="background: palevioletred;">
        <form class="contact3-form" action="" method="POST">
            <h4 style="color: black;" class="text-center text-uppercase text-light">Qarzga olingan mahsulot : <i class="text-dark"> <b> {{product.product_name}} </b></i></h4>

          {% csrf_token %}
          <div class="wrap-input3">
            <label for="product_price"></label>
            <input class="input3" type="number" name="product_price" id="product_price" placeholder="Sotib olingan narxi?">
            <span class="focus-input3"></span>
          </div>
          <div class="wrap-input3">
            <label for="product_count"></label>
            <input class="input3" type="number" name="product_count" id="product_count" placeholder="Nechta sotib olindi?">
            <span class="focus-input3"></span>
          </div>
          <div class="wrap-input3">
            <label for="owner_name"></label>
            <input class="input3" type="text" name="owner_name" id="owner_name" placeholder="Sotuvchi ismi">
            <span class="focus-input3"></span>
          </div>
          <div class="wrap-input3">
            <label for="owner_phone"></label>
            <input class="input3" type="number" name="owner_phone" id="owner_phone" placeholder="Sotuvchi telefon raqami">
            <span class="focus-input3"></span>
          </div>
          <p class="text-light text-center">Qarzni qaytarish muddati</p>
          <div class="wrap-input3">
            <label for="due_date"></label>
            <input class="input3" type="date" name="due_date" id="due_date" placeholder="Qarz muddati">
            <span class="focus-input3"></span>
          </div>

           <div class="form-check form-switch text-center text-light text-uppercase mt-2 w-100">
              <input class="form-check-input" type="checkbox" id="ispartlypaid" name="ispartlypaid" value="ispartlypaid">
              <label class="form-check-label" for="ispartlypaid">Bo'lib to'landi</label>         
            </div> 

           <div class="wrap-input3 input3-debt-part text-center text-light mt-2">
            <label for="paid_amount"></label>
            <input class="input3 mt-0" type="number" name="paid_amount" id="paid_amount" placeholder="To'langan summa">
            <span class="focus-input3"></span>          

          </div>
          <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
              Saqlash
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}