<!DOCTYPE html>
{% load static %}
<html lang="uz">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Har bir savdogar o'z savdosida stabillikga erishishni, yil davomida maksimal foyda olishni rejalashtiradi, ammo vaqt o'tgan sari hamma narsaga ulgurmasliklari mumkin. Dastur esa ular yaratgan, sotgan barcha mahsulotlarini saqlab hisoblab boradi." />
        <meta name="author" content="" />
        <title>{% block title %} {% endblock title %}</title>  
        <link rel="icon" type="image/png" href="/static/images/icons/fraydey.png"/>
        <!--index page styles -->
                <!-- Font -->
        <link rel="dns-prefetch" href="//fonts.googleapis.com">
        <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <!-- Themify Icons -->
        <link rel="stylesheet" href="/static/css/themify-icons.css">
        <!-- Owl carousel -->
        <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
        <!-- Main css -->
        <link href="/static/css/style.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="/static/css/styleforsignupselect.css">
    </head>
    <body>

    <div class="" style="    
background-image: linear-gradient( 135deg, rgba(60, 8, 118, 1) 0%, rgba(250, 0, 118, 1) 150%);">
        <div class="container">
            <div class="row">

                    <nav class="navbar navbar-dark navbar-expand-lg w-100 form-inline" style="position: relative;">
                            <a class="navbar-brand" href="{% url 'index' %}" data-abc="true"> <b> FRAYDEY </b></a> 
                        {% if user.is_authenticated %}        
                            <a href="{% url 'logout' %}" class="nav-item nav-link text-light btn btn-outline-danger ml-2 text-center" style="position: absolute; right: 5px;"> <b> Chiqish </b></a>
                        {% else %}
                            <a href="{% url 'login' %}" class="nav-item nav-link text-light btn btn-outline-success ml-2 text-center" style="position: absolute; right:5px;">Akkountga kirish</a>
                        {% endif %}

                        <!--
                        <div class="collapse navbar-collapse" id="navbarColor02" style="">
                            <ul class="navbar-nav ml-auto text-nowrap">
                                {% if user.is_authenticated == False %}
                                {% endif %}
                                
                                <li class="nav-item"><a class="nav-link text-light" href="{% url 'index' %}" data-abc="true">Asosiy bo'lim <span class="sr-only">(current)</span></a> </li>
                                <li class="nav-item"> <a class="nav-link text-light" href="{% url 'inventory' %}" data-abc="true">Mahsulotlar</a> </li>
                                <li class="nav-item"> <a class="nav-link text-light" href="{% url 'soldproducts' %}" data-abc="true">Sotilgan mahsulotlar</a></li>
                                
                                <li class="nav-item"> <a class="nav-link text-light" href="{% url 'profile' %}" data-abc="true">Profil</a></li>
                            
                            </ul>
                        </div>
                       -->
                </nav>
            </div>
        </div>
    </div>

        <!-- Page content-->

           {% block content %}

    <header class="" id="home" style="    
    background-image: -moz-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);">
        <div class="container mt-5">
            <h1>FRAYDEY</h1>
            <p class="tagline">Savdogar va Mijozning hamkori </p>
        </div>
        {% load static %}
        <div class="img-holder mt-3"><img src="{% static 'images/iphonex.png' %}"  alt="phone" class="img-fluid"></div>
    </header>

    <div class="p-4 light-bg" id="features">

        <br>
        <div class="">

            <div class="section-title p-0 m-0">
                <h4 class="text-nowrap">Dasturning afzalliklari</h4>
            </div>

            <br>
            <div class="row">
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-face-smile gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Soddalik</h4>
                                    <p class="card-text">Dastur to'liq O'zbek tilida va barcha vazifalar sodda tartibda ishlangan </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-cloud gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Foydalanish</h4>
                                    <p class="card-text">Fraydey barcha mahsulotlar va do'konlar uchun `Cloud` vazifasini o'taydi, istalgan vaqt bu ma'lumotlardan foydalanish afzalligini beradi </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4">
                    <div class="card features">
                        <div class="card-body">
                            <div class="media">
                                <span class="ti-lock gradient-fill ti-3x mr-3"></span>
                                <div class="media-body">
                                    <h4 class="card-title">Xavfsizlik</h4>
                                    <p class="card-text">Savdogarning va har bir mijozning xavfsizligi Fraydey jamoasi uchun eng katta ma'suliyat </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section">

        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-6">
                    
                    <h2><span class="ti-youtube gradient-fill  mr-3"></span> Fraydey </h2>
                    <p class="mb-4">Ilovadan foydalanish bo'yicha qisqa darslarimiz ham mavjud! Youtube sahifamiz : Fraydey UZ</p>
                        
                    <!-- <a href="https://www.youtube.com/channel/UCgB3d4-Oa6Q6OdeM0QTd72A" target="_blank" class="btn btn-primary">Ko'rib chiqish</a> -->
                </div>
            </div>
            <div class="perspective-phone">
                <img src="/static/images/perspective_fraydey.png" alt="perspective phone" class="img-fluid">
            </div>
        </div>

    </div>
    <!-- // end .section -->


    <div class=" light-bg">
        <div class="container">
            <br><br>
            <div class="section-title">
                
                <h3>Ilovadan maksimal foydalanish</h3>
            </div>

            <ul class="nav nav-tabs nav-justified" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#communication">Mahsulotlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#schedule">Qarzlar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#messages">Analitika</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#livechat">Forum</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="communication">
                    <div class="d-flex flex-column flex-lg-row">
                        
                        <div>
                            <h2>Mahsulotlarni osongina saqlang</h2>
                            <p class="lead">Har bir saqlangan mahsulotni `Mahsulotlar` bo'limi orqali ko'rish mumkin </p>
                            <p>Savdogar o'z savdosida stabillikga erishishi va barcha afzalliklardan to'liq foydalanishi uchun o'z do'konidagi mahsulotlarni har birini qo'shib chiqishi lozim.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="schedule">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Qarzlarni kuzatib boring</h2>
                            <p class="lead">Foydalanuvchi qarzga berilgan yoki qarzga olingan mahsulotlarni barchasini `Qarzlar` bo'limidan ko'ra oladi. </p>

                            <p> Bu bo'limning maqsadi har bir savdogar olib kelgan va sotgan mahsulotlarini qarz bo'lgan holatda kuzatib, o'z vaqtida to'lanishini ta'minlaydi.
                            </p>
                        </div>
                        
                    </div>
                </div>
                <div class="tab-pane fade" id="messages">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Do'kon haqida grafik ma'lumotlar `Analitika` bo'limi orqali ko'riladi</h2>
                            <p class="lead">Butun do'kon byudjeti, hamda barcha mahsulotlarni, ularning foydasini bir vaqtni o'zida ko'rish imkoniyati </p>
                            <p>Analitika bo'limi savdogarning oylik va butun qilgan savdosi haqida to'liq grafik ma'lumotlarni ta'minlaydi, do'kon ma'lum vaqt davomida foyda yoki ziyon qilayotganini aniqlash imkoniyati.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="livechat">
                    <div class="d-flex flex-column flex-lg-row">
                        <div>
                            <h2>Har bir savdogar uchun xizmat ko'rsatish</h2>
                            <p class="lead">Ro'yxatdan o'tgan savdogarlar `Forum` bo'limi orqali boshqa savdogarlarni ko'rishlari mumkin </p>
                            <p>Albatta bu bo'lim hozirda to'liq ishlab chiqilmoqda, `Forum` savdogarlar boshqa savdogar bilan aloqa qilishi va ularning do'konlari haqida ayrim ma'lumotlarga ega bo'lishlari uchun xizmat qiladi.
                            </p>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <div class="section light-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-8 d-flex align-items-center">
                    <ul class="list-unstyled ui-steps">
                        <li class="media">
                            <div class="circle-icon mr-4">1</div>
                            <div class="media-body">
                                <h5>`Fraydey` da ro'yxatdan o'ting</h5>
                                <p>Ro'yxatdan o'tish tizimi juda sodda ortiqcha ma'lumot talab qilinmaydi. Qo'shimcha ma'lumotlar savdogarning do'koni `Forum` da yaxshi tarqalishiga xizmat qiladi.</p>
                            </div>
                        </li>
                        <li class="media my-4">
                            <div class="circle-icon mr-4">2</div>
                            <div class="media-body">
                                <h5>Mahsulotlarni yarating</h5>
                                <p>Do'koningizdagi mahsulotlarni qo'shib chiqishingiz bilan dasturdan maksimal foyda olishni boshlaysiz. Albatta mahsulotlar bir vaqtda qo'shilishi shart emas.</p>
                            </div>
                        </li>
                        <li class="media">
                            <div class="circle-icon mr-4">3</div>
                            <div class="media-body">
                                <h5>Savdoni osonlashtiring</h5>
                                <p> Savdoni amalga oshirganingizda osongina mahsulotni dastur orqali yangilang va  hisoblashni `Fraydey` ga qo'yib bering</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <img src="/static/images/ready.png" alt="iphone" class="img-fluid">
                </div>

            </div>

        </div>

    </div>
    <!-- // end .section -->


    <div class="section">
        <div class="container">
            <div class="section-title">
        
                <h4 class="text-uppercase">Foydanlanuvchilar fikri</h4>
            </div>

            <div class="testimonials owl-carousel">
                <div class="testimonials-single">
                    <img src="/static/images/Murod.jpg" alt="client" class="client-img">
                    <blockquote class="blockquote">Bu dastur menga judayam qo'l keldi va unumli foydalanayapman... undagi eslatmalar, kirim chiqim hisob kitobini bemalol amalga oshirish mumkin, biznesdagi ishlar yengillab vaqt tejaladi. Bu ilova manga juda ham qo'l keldi, ishlab chiqaruvchilarga chuqur minnatdorchilik bildirib o'taman!</blockquote>
                    <h5 class="mt-4 mb-2">Murodjon Ortikov</h5>
                    <p class="text-primary">Jizzax</p>
                </div>
                <div class="testimonials-single">
                    <img src="/static/images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Sarvar Berdiyev</h5>
                    <p class="text-primary">Jizzax</p>
                </div>
                <div class="testimonials-single">
                    <img src="/static/images/client.png" alt="client" class="client-img">
                    <blockquote class="blockquote">Uniquely streamline highly efficient scenarios and 24/7 initiatives. Conveniently embrace multifunctional ideas through proactive customer service. Distinctively conceptualize 2.0 intellectual capital via user-centric partnerships.</blockquote>
                    <h5 class="mt-4 mb-2">Crystal Gordon</h5>
                    <p class="text-primary">United States</p>
                </div>
            </div>

        </div>

    </div>

    <div class="section light-bg" id="gallery">
        <div class="container">
            <div class="section-title">
                <h2>GALEREYA</h2>
                <h5>Dasturdan lavhalar</h5>
            </div>

            <div class="img-gallery owl-carousel owl-theme">
                <img src="/static/images/screen1.jpg" alt="image">
                <img src="/static/images/screen2.jpg" alt="image">
                <img src="/static/images/screen3.jpg" alt="image">
                <img src="/static/images/screen4.jpg" alt="image">
                <img src="/static/images/screen5.jpg" alt="image">
                <img src="/static/images/screen6.jpg" alt="image">
                <img src="/static/images/screen7.jpg" alt="image">
            </div>

        </div>

    </div>

    </div>

    </div>

    <div class="section pt-0">
        <div class="container">
            <br> <br>
            <div class="section-title">
                <h3>Ko'p so'ralgan savollar</h3>
            </div>

            <div class="row pt-4">
                <div class="col-md-6">
                    <h4 class="mb-3">Dastur pullikmi?</h4>
                    <p class="light-font mb-5">Yo'q, hozirda dastur foydalanuvchilarga mutlaqo bepul taqdim etilmoqda</p>                    
                    <h4 class="mb-3">Dasturdan nima foyda?</h4>
                    <p class="light-font mb-5">Har bir savdogar o'z savdosida stabillikga erishishni, yil davomida maksimal foyda olishni rejalashtiradi, ammo vaqt o'tgan sari hamma narsaga ulgurmasliklari mumkin. Dastur esa ular yaratgan, sotgan barcha mahsulotlarini saqlab hisoblab boradi. </p>


                </div>
                <div class="col-md-6">
                    <h4 class="mb-3">Dastur kimlar uchun?</h4>
                    <p class="light-font mb-5">Ayni vaqtda faqat Savdogarlar ro'yxatdan o'tishlari mumkin. </p>
                    <h4 class="mb-3">Xaridorlar foydalanishi mumkinmi?</h4>
                    <p class="light-font mb-5">Kelgusi yangilanishlarda xaridorlar modeli qo'shilishi rejalashtirilgan, va ular ham bevosita bozor mahsulotlarini onlayn ko'rish, do'kon haqida ma'lumot olishga ega bo'lishadi. </p>

                </div>
            </div>
        </div>

    </div>
    <!-- // end .section -->



    <div class="section" style="    
    background-image: -moz-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -webkit-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: -ms-linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
    background-image: linear-gradient( 135deg, rgba(60, 8, 118, 0.8) 0%, rgba(250, 0, 118, 0.8) 100%);
">
        <div class="container">
            <div class="call-to-action">

                <div class="box-icon"> <img src="/static/images/icons/fraydey.png" width="50px" height="50px"></div>
                <h2>YUKLAB OLING</h2>
                <p class="tagline">Barcha Android va iOS foydalanuvchilari uchun dastur Play Market va App Storeda doimiy yangilanib boradi.</p>
                <div class="my-4">

                    <!--<span class="btn btn-light"><img src="/static/images/appleicon.png" alt="icon"> App Store</span> --> 
                     <span class="btn btn-light"><img src="/static/images/playicon.png" alt="icon"> Google play</span>
                </div>
                <p class="text-primary"><small><i>*iOS 10.0.5+, Android Kitkat va yuqori versiyalarda ishlaydi </i></small></p>
            </div>
        </div>

    </div>
    <!-- // end .section -->

    <div class="light-bg py-5" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <p class="mb-2"> <span class="ti-location-pin mr-2"></span> 54387 Changpo-gil, Deokjin-gu, Jeonju-si, South Korea</p>
                    <div class=" d-block d-sm-inline-block">
                        <p class="mb-2">
                            <span class="ti-email mr-2"></span> <a class="mr-4" href="mailto:support@mobileapp.com">yordam@fraydey.uz</a>
                        </p>
                    </div>
                    <div class="d-block d-sm-inline-block">
                        <p class="mb-0">
                            <span class="ti-headphone-alt mr-2"></span> <a href="tel:51836362800">XXX-XXXXXX</a>
                        </p>
                    </div>

                </div>
                <!--
                <div class="col-lg-6">
                    <div class="social-icons">
                        <a href="https://t.me/fraydeyuz" target="_blank"><img src="https://img.icons8.com/color/32/000000/telegram-app--v1.png"/></a>
                        
                        <a href="https://www.youtube.com/channel/UCgB3d4-Oa6Q6OdeM0QTd72A" target="_blank"><img src="https://img.icons8.com/doodle/32/000000/youtube-play--v1.png"/></a>
                        <a href="https://www.instagram.com/fraydeyuz/" target="_blank"><img src="https://img.icons8.com/fluency/32/000000/instagram-new.png"/></a>
                                            
                    </div>
                </div>
                -->    
            </div>

        </div>

    </div>
     <!-- <p class="mb-2 text-center bg-dark"><small>COPYRIGHT © 2021. XIZMATLAR LITSENZIYALANGAN</small></p> -->
    <!-- // end .section -->
    <footer class="text-center">
        
        <!--
        <small>
            <a href="#" class="m-2">PRESS</a>
            <a href="#" class="m-2">TERMS</a>
            <a href="#" class="m-2">PRIVACY</a>
        </small>
    -->
    </footer>
            {% endblock %}
        <script src="/static/js/jquery-3.2.1.min.js"></script>
        <script src="/static/js/bootstrap.bundle.min.js"></script>
        <!-- Plugins JS -->
        <script src="/static/js/owl.carousel.min.js"></script>
        <!-- Custom JS -->
        <script src="/static/js/script.js"></script>
    </body>
</html>
