{% extends 'mnotes/index.html' %}

{% block title %} Mahsulotni yangilash {% endblock title %}

{% block content %}
<!-- Nice errors 
{% if SoldProductForm.errors %}
      {% for field in SoldProductForm %}

           {% for error in field.errors %}
                {{field.label}}: {{ error|escape }}
           {% endfor %}

      {% endfor %}
{% endif %}
-->

{% if SoldProductForm.errors %}
<div class="alert alert-danger alert-dismissible" role="alert">
    <div id="form_errors" class="text-center">
        {% for key, value in SoldProductForm.errors.items %}
            <strong>{{ value }}</strong>
        {% endfor %}
    </div>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}


  <div class="bg-contact3">
    <div class="container-contact3">
      <div class="wrap-contact3" style="background: mediumseagreen;">
        <form class="contact3-form" action="" method="POST">
            <h4 style="color: white;" class="text-center text-uppercase">Sotilgan mahsulot : <i class="text-dark"> <b> {{product.product_name}} </b></i></h4>
          {% csrf_token %}
          <!--
          <div class="wrap-contact3-form-radio">
            <div class="contact3-form-radio m-r-42">
              <input class="input-radio3" id="radio1" type="radio" name="choice" value="say-hi" checked="checked">
              <label class="label-radio3" for="radio1">
                Yangi mahsulot qo'shish (rasmsiz)
              </label>
            </div>

            <div class="contact3-form-radio">
              <input class="input-radio3" id="radio2" type="radio" name="choice" value="get-quote">
              <label class="label-radio3" for="radio2">
                Yangi mahsulot rasm bilan
              </label>
            </div>
          </div>
		  -->
          <div class="wrap-input3">
            <label for="product_sold_price"></label>
            <input class="input3" type="number" name="product_sold_price" id="product_sold_price" placeholder="Sotilgan narxi">
            <span class="focus-input3"></span>
          </div>
          <div class="wrap-input3">
            <label for="product_sold_count"></label>
            <input class="input3" type="number" name="product_sold_count" id="product_sold_count" placeholder="Sotilgan mahsulot soni">
            <span class="focus-input3"></span>
          </div>

          <div class="form-check form-switch text-center text-light text-uppercase mt-2 w-100">
              <input class="form-check-input" type="checkbox" id="isdebt" name="isdebt" value="isdebt">
              <label class="form-check-label" for="isdebt">Qarzga berdim</label>
          </div>

          <div class="wrap-input3 input3-debt mb-0">
            <label for="customer_name"></label>
            <input class="input3" type="text" name="customer_name" id="customer_name" placeholder="Xaridor ismi">
            <span class="focus-input3"></span>
          </div>

          <div class="wrap-input3 input3-debt mb-0">
            <label for="customer_phone"></label>
            <input class="input3" type="number" name="customer_phone" id="customer_phone" placeholder="Xaridor telefon raqami">
            <span class="focus-input3"></span>
          </div>

          <div class="wrap-input3 input3-debt text-center text-light mt-2">
            <label for="due_date"> Qachongacha berilgan muddatni belgilang </label>
            <input class="input3 mt-0" type="date" name="due_date" id="due_date" placeholder="Qarzni qaytarish vaqti">
            <span class="focus-input3"></span>
          </div>

          <div class="form-check form-switch text-center text-light text-uppercase mt-2 w-100 input3-debt">
              <input class="form-check-input" type="checkbox" id="ispartlypaid" name="ispartlypaid" value="ispartlypaid">
              <label class="form-check-label" for="ispartlypaid">Bo'lib to'lash</label>
          </div>

          <div class="wrap-input3 input3-debt-part text-center text-light mt-2">
            <label for="paid_amount"></label>
            <input class="input3 mt-0" type="number" name="paid_amount" id="paid_amount" placeholder="To'langan summa">
            <span class="focus-input3"></span>
          </div>


          <!--
            <div class="form-group"> 
              <h4>Mahsulot razmerlari</h4>
                <div class="row row-cols-3">
              {% for value, text in form.product_size.field.choices %}
                <div class="ui slider checkbox">
                  <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.product_size.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label style="color: white;">{{ text }}</label>
                </div>
              {% endfor %}
              </div>
              <hr>
              <h4>Mahsulot ranglari</h4>
              <div class="row row-cols-3">      
              {% for value, text in form.product_color.field.choices %}
                <div class="ui slider checkbox">
                  <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.product_color.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label style="color: white;">{{ text }}</label>
                </div>
              {% endfor %}
              </div>
              <hr>
              <h4>Mahsulot sezoni</h4>
              <div class="row row-cols-3">
              {% for value, text in form.product_season.field.choices %}
                <div class="ui slider checkbox">
                  <input id="id_providers_{{ forloop.counter0 }}" name="{{ form.product_season.name }}" type="checkbox" value="{{ value }}"{% if value in checked_providers %} checked="checked"{% endif %}>
                <label style="color: white;">{{ text }}</label>
                </div>
              {% endfor %}
              </div>
            </div>
            <div class="row row-cols-2 input3-select" style="color: white;">
               Rasmni yuklang : {{form.product_img}}
            </div>
        -->
          <div class="container-contact3-form-btn">
            <button type="submit" class="contact3-form-btn">
              Saqlash
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

<!--  <div id="dropDownSelect1"></div> -->


{% if profit %}
<h5>Sizning foydangiz {{profit}}</h5>
{% endif %}

{% endblock %}