{% extends 'mnotes/index.html' %}

{% block title %} Mahsulotni qidirish {% endblock title %}

{% block content %}

{% if searched %}

{% if products %}

<form class="text-center mx-auto w-75 d-flex" action="{% url 'searchfunction' %}" method="POST"> 
            {% csrf_token %}
            <input class="form-control text-center my-auto" type="text" placeholder="Mahsulotni izlash" name="searched"> 
            <button class="btn btn-secondary my-2 my-sm-0 text-center" type="submit">Izlash</button> 
</form> 

<div class="classic-tabs rounded px-4 pt-1">
	<div class="tab-content" id="advancedTabContent">

		{% for pr in products %}

		<div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">				
			<section class="section-products">
				<div class="row row-cols-2 d-flex justify-content-center text-center">
					<!-- Single Product -->
					<div class="">
						<div id="product-1" class="single-product" style="">
							<a href="{% url 'productsold' pr.id %}">
								{% if pr.product_img %}						    
							    <div class="part-1 border" style="background:  url('{{ pr.product_img.url }}') no-repeat center; background-size: 100% auto;">
								{% else %}

									<div role="img" class="part-1 text-center my-auto row border"><span class="text-uppercase text-danger text-center align-self-center"> Rasm mavjud emas </span>
								{% endif %}
									
									</div>
									<div class="part-2" >
											<h3 class="product-title"><a href="{% url 'productsold' pr.id %}"><b class="text-uppercase text-dark"> {{pr.product_name}} </b> </a></h3>
											<h5 class="product-price"> Tan narx : {{pr.product_price_initial}} Sum</h5>
									</div>
								</div>
								</a>
						</div>
					</div>
				</div>	
			</section>
		</div>
	</div>
</div>



	{% endfor %}
	{% else %}

	<hr>
	<h5 class="text-center">Siz qidirgan mahsulot mavjud emas</h5>
	{% endif %}

{% else %}
<hr>
<h5 class="text-center">Mahsulotni qidirishni unutdingiz!</h5>
{% endif %}


<script src="/static/js/main.js"></script>
{% endblock %}