{% extends 'mnotes/index.html' %}

{% block title %} Mahsulotni qidirish {% endblock title %}

{% block content %}
<br>
<form class="text-center mx-auto w-75 d-flex" action="{% url 'searchselldebt' %}" method="POST"> 
      {% csrf_token %}
      <input class="form-control text-center my-auto" type="text" placeholder="Mahsulotni izlash" name="searchedselldebt"> 
      <button class="btn btn-secondary my-2 my-sm-0 text-center" type="submit">Izlash</button> 
</form> 
<!-- DESCRIPTION PAGE -->
<table class="table table-hover">  
<br>
  <h5 class="text-center text-uppercase"> <b> Qarzga berilgan mahsulotlar </b></h5>
  <hr>  
  <div class="text-center mt-2 mb-2"><a href="{% url 'givedebtselect' %}" class="btn btn-primary"> Qarzga mahsulot berish</a></div>
  <thead>
    <tr>
	  <th scope="col">Mahsulot nomi</th>
      <th scope="col">Qarzdor ismi</th>
      <th scope="col">Aloqa</th>
    </tr>
  </thead>

{% if selldebt %}

{% for sdebt in selldebt reversed %}

{% if sdebt.isfullypaid %}
  <tbody class="bg-success">
    <tr>
    <td><u><a href="{% url 'selldebtview' sdebt.id %}" class="link-dark"> {{sdebt.product_name}} </a></u></td>
      <td>{{sdebt.customer_name}}</td>
      <td>{{sdebt.customer_phone}}</td>
    </tr>
  </tbody>
{% elif sdebt.ispartlypaid %}
  <tbody class="bg-warning">
    <tr>
      <td><u><a href="{% url 'selldebtview' sdebt.id %}" class="link-dark"> {{sdebt.product_name}} </a></u></td>
      <td>{{sdebt.customer_name}}</td>
      <td>{{sdebt.customer_phone}} </td>
    </tr>
  </tbody>
{% else %}
  <tbody class="bg-danger">
    <tr>
      <td><u><a href="{% url 'selldebtview' sdebt.id %}" class="link-dark"> {{sdebt.product_name}} </a></u></td>
      <td>{{sdebt.customer_name}}</td>
      <td>{{sdebt.customer_phone}} </td>
    </tr>
  </tbody>
  {% endif %}
{% endfor %}

{% else %}
<br>
<h5 class="text-center">Qarz topilmadi</h5>
<br>
{% endif %}
</table>  


{% endblock %}