{% extends 'mnotes/index.html' %}

{% block title %} Mahsulotni qidirish {% endblock title %}

{% block content %}
<br>
<form class="text-center mx-auto w-75 d-flex" action="{% url 'searchbuydebt' %}" method="POST"> 
            {% csrf_token %}
            <input class="form-control text-center my-auto" type="text" placeholder="Mahsulotni izlash" name="searchedbuydebt"> 
            <button class="btn btn-secondary my-2 my-sm-0 text-center" type="submit">Izlash</button> 
</form> 

<table class="table table-hover">
  <br>
  <h5 class="text-center text-uppercase"> <b> Qarzga olingan mahsulotlar </b></h5>
  <hr>  
  <div class="text-center mt-2 mb-2"><a href="{% url 'getdebtselect' %}" class="btn btn-primary"> Qarzga mahsulot olish</a></div>

  <thead>
    <tr>
      <th scope="col">Nom</th>
      <th scope="col">Narx</th>
      <th scope="col">Aloqa</th>
    </tr>
  </thead>
  {% if buydebt %}

  {% for bdebt in buydebt reversed %}

  {% if bdebt.isfullypaid %}
  <tbody class="bg-success">
    <tr>
      <td><u><a href="{% url 'buydebtview' bdebt.id %}" class="link-dark">{{bdebt.product_name}}</a></u></td>
      <td>{{bdebt.product_price}} sum</td>
      <td>{{bdebt.owner_phone}} </td>
    </tr>
  </tbody>

  {% elif bdebt.ispartlypaid %}

  <tbody class="bg-warning">
    <tr>
      <td><u><a href="{% url 'buydebtview' bdebt.id %}" class="link-dark">{{bdebt.product_name}}</a></u></td>
      <td>{{bdebt.product_price}} sum</td>
      <td>{{bdebt.owner_phone}} </td>
    </tr>
  </tbody>

  {% else %}

  <tbody class="bg-danger">
    <tr>
      <td><u><a href="{% url 'buydebtview' bdebt.id %}" class="link-dark">{{bdebt.product_name}}</a></u></td>
      <td>{{bdebt.product_price}} sum</td>
      <td>{{bdebt.owner_phone}} </td>
      
    </tr>
  </tbody>
  {% endif %}

  {% endfor %}

  {% else %}
<br>
<h5 class="text-center">Qarz topilmadi</h5>
<br>
  {%endif%}

</table>
{% endblock %}