{% extends 'mnotes/index.html' %}

{% block title %} Qarzlar {% endblock title %}

{% block content %}
<!-- Classic tabs -->
<br>
<form class="text-center mx-auto w-75 d-flex" action="{% url 'searchsoldproduct' %}" method="POST"> 
      {% csrf_token %}
      <input class="form-control text-center my-auto" type="text" placeholder="Sotilgan mahsulotlardan izlash" name="searchedsoldproduct"> 
      <button class="btn btn-secondary my-2 my-sm-0 text-center" type="submit">Izlash</button> 
</form> 
<!-- DESCRIPTION PAGE -->
<table class="table table-hover">  
<br>
  <h5 class="text-center text-uppercase"> <b> Sotilgan mahsulotlar </b></h5>
  <hr>  
  <div class="text-center mt-2 mb-2"><a href="{% url 'sellproduct' %}" class="btn btn-success"> Yangi mahsulot sotdim</a></div>
  <thead>
    <tr>
      <th scope="col">Mahsulot nomi</th>
      <th scope="col">Mahsulot sotilgan narxi</th>
      <th scope="col">Sotilgan kun</th>
      <th scope="col">Status</th>
    </tr>
  </thead>
{% for selldebt in soldproducts_list reversed %}
  <tbody class="">
    <tr>
      <td><u><a href="{% url 'soldproductview' selldebt.id %}" class="link-dark"> {{selldebt.product_name}} </a></u></td>
      <td>{{selldebt.product_sold_price}}</td>
      <td>{{selldebt.date_sold}}</td>
      {% if selldebt.isfullypaid %}
      <td><img src="https://img.icons8.com/emoji/32/000000/green-circle-emoji.png"/></td>
      {% elif selldebt.ispartlypaid %}
      <td> <img src="https://img.icons8.com/emoji/32/000000/yellow-circle-emoji.png"/></td>
      {% else %}
      <td><img src="https://img.icons8.com/emoji/32/000000/red-circle-emoji.png"/></td>
      {% endif %}
    </tr>
  </tbody>
{% endfor %}

{% for selldebt in soldondebtproducts_list reversed %}
  <tbody class="">
    <tr>
      <td><u><a href="{% url 'soldproductview' selldebt.id %}" class="link-dark"> {{selldebt.product_name}} </a></u></td>
      <td>{{selldebt.product_price}}</td>
      <td>{{selldebt.given_date}}</td>
      {% if selldebt.isfullypaid %}
      <td><img src="https://img.icons8.com/emoji/32/000000/green-circle-emoji.png"/></td>
      {% elif selldebt.ispartlypaid %}
      <td> <img src="https://img.icons8.com/emoji/32/000000/yellow-circle-emoji.png"/></td>
      {% else %}
      <td><img src="https://img.icons8.com/emoji/32/000000/red-circle-emoji.png"/></td>
      {% endif %}
    </tr>
  </tbody>
{% endfor %}

</table>   

<script src="/static/js/main.js"></script>

{% endblock %}