{% extends 'mnotes/index.html' %}

{% block title %} Qarzlar {% endblock title %}

{% block content %}
<!-- Classic tabs -->
<div class="classic-tabs border rounded pt-1">
  <div class="tab-content" id="advancedTabContent">
    <div class="tab-pane fade show active" id="description" role="tabpanel" aria-labelledby="description-tab">
<br>
<form class="text-center mx-auto w-75 d-flex" action="{% url 'searchsoldproduct' %}" method="POST"> 
      {% csrf_token %}
      <input class="form-control text-center my-auto" type="text" placeholder="Sotilgan mahsulotlardan izlash" name="searchedsoldproduct"> 
      <button class="btn btn-secondary my-2 my-sm-0 text-center" type="submit">Izlash</button> 
</form> 
<!-- DESCRIPTION PAGE -->
<table class="table table-hover">  
<br>
  <h5 class="text-center text-uppercase"> <b> Sotilgan mahsulotlar </b></h5>
  <hr>  
  <div class="text-center mt-2 mb-2"><a href="{% url 'sellproduct' %}" class="btn btn-success"> Yangi mahsulot sotdim</a></div>
  <thead>
    <tr>
      <th scope="col">Mahsulot nomi</th>
      <th scope="col">Mahsulot sotilgan narxi</th>
      <th scope="col">Sotilgan kun</th>
    </tr>
  </thead>
{% for selldebt in soldproducts_list reversed %}
  <tbody class="">
    <tr>
      <td><u><a href="{% url 'soldproductview' selldebt.id %}" class="link-dark"> {{selldebt.product_name}} </a></u></td>
      <td>{{selldebt.product_sold_price}}</td>
      <td>{{selldebt.date_sold}}</td>
    </tr>
  </tbody>
{% endfor %}

{% for selldebt in soldondebtproducts_list reversed %}
  <tbody class="">what up man
    <tr>
      <td><u><a href="{% url 'soldproductview' selldebt.id %}" class="link-dark"> {{selldebt.product_name}} </a></u></td>
      <td>{{selldebt.product_sold_price}}</td>
      <td>{{selldebt.date_sold}}</td>
    </tr>
  </tbody>
{% endfor %}

</table>   

</div>
  </div>
</div>

<script src="/static/js/main.js"></script>

{% endblock %}