{% extends 'mnotes/index.html' %}
{% block title %} Take your notes {% endblock title%}

{% block content %}
<h1>This is note taking page</h1>
<a href="../"> Main page </a>


<form action="/takenoteview/" method="post">
	{% for field in form %}
	{% csrf_token %}
	<label for="{{ field.nametest }}"> Name Test: </label>
	<input type="text" name="nametest" id="nametest">
	<input type="submit" value="OK" name="">
	{% endfor %}
</form>

<p></p>

<!-- 
<form action="/takenote/" method="POST">
	{% csrf_token %}
	{{form}}
	<input type="submit">

</form>
-->
{% endblock %}